@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.bg{
    background: linear-gradient(rgb(0 0 0 / 66%), rgb(0 0 0 / 63%)),
                url(https://wallpaperaccess.com/full/1512223.jpg);
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
  }

  .bg-color {
    background: linear-gradient(135deg, #40407a, #1e3799);
}

.bg-btn{
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #706fd3;
  padding: 5px 10px;
  font-size: 16px;
  
  cursor: pointer;
  transition: all 0.3s ease;
}
.bg-btn:hover{
  background-color: #2a25b2; /* Matches the border color */
   /* Inverts the text color for contrast */
  box-shadow: 0 4px 15px rgba(112, 111, 211, 0.5); /* Adds a glowing effect */
}
.hover{
  color: red;
}

.nav-btn{
  background-color: transparent;
  color: #ffffff;
  
  
  font-size: 20px;
  
  cursor: pointer;
  transition: all 0.3s ease;
}
.nav-btn:hover{
  color: #7575f7; /* Matches the border color */
  /* Inverts the text color for contrast */
 
}

.bg{

}